/* Global styles
------------------------------------*/

/* Navbar
------------------------------------*/
.navbar {
  font-size: 1.5em;
  background-color: #5f9ea0;
  margin: 0 auto;
  padding: 0;
}
.navbar ul {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid grey;
  list-style-type: none;
  justify-content: center;
  padding: 0;
}
.navbar ul li {
  padding: 0.8em 1.5em;
}
.navbar li:hover {
  background-color: #b0e0e6;
}

/*Sign in
------------------------------------*/
.signin-container {
  min-width: 300px;
  width: 35%;
  height: 100%;
  margin: auto;
  padding-bottom: 4em;

  text-align: center;
}
.welcome {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 10px;
  background-color: rgb(217, 226, 226);
}
.logo {
  height: 50%;
  width: 40%;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 15px;
}
.signin {
  color: rgb(19, 100, 124);
}
.form select {
  width: 90%;
  height: 35px;
}
.form input {
  display: block;
}
.btn-signin {
  margin: 20px 20px;
  padding: 3px 20px;
  background-color: #5f9ea0;
  font-size: 20px;
  border-radius: 10%;
}

/* Dashboard
------------------------------------*/
.dashboard {
  width: 40%;
  height: 100%;
  border: 1px solid #062957b0;
  margin: 0 auto;
  padding: 0;
}
.dashboard-nav {
  font-size: 1.2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #5f9ea0;
  list-style-type: none;
  padding: 0;
  justify-items: stretch;
}
.dashboard-nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.1em 1.2em;
  font-size: 1.2em;
}
.dashboard-nav li:hover {
  background-color: #b0e0e6;
}

.dashboard ul {
  padding: 0;
}
.unanswered {
  align-self: stretch;
}

.answered {
  align-self: stretch;
}

/* QuestionCard
------------------------------------*/
.questioncard-container {
  width: 80%;
  height: 100%;
  border: 1px solid #062957b0;
  margin: 1.3em auto;
  padding: 0;
}
.card-title {
  padding: 1em 1.01em;
  background-color: rgb(217, 226, 226);
  border-bottom: 1px solid #062957b0;
}
.card-title h2 {
  margin: 0 0;
}
.card-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.card-avatar {
  margin: 2em 1.1em;
  padding-right: 1.1em;
  border-right: 1px solid gray;
}
.card-grid-2 {
  margin: 1.1em 1.1em;
  justify-content: center;
  align-items: center;
  padding: 1.1em 1.2em;
  font-weight: 1.1em;
}
.card-btn {
  padding-left: 4em;
  padding-right: 4em;
  color: #008000;

  border-color: #006400;
}
